doctype html
html
  head
    // Metadata
    if title === "Post Your Vote"
      title #{title}
      meta(property='og:title' content=title)
      meta(property='og:description' content=description)
      meta(name='description' content=description)
    else if name 
      title Vote by mail in #{name} · Post Your Vote
      meta(property='og:title' content=`Vote by mail in ${name} · Post Your Vote`)
      meta(property='og:description' content="Requirements, dates, calendar reminders, and direct links to official state sites")
      meta(name='description' content="Requirements, dates, calendar reminders, and direct links to official state sites")
    else
      title #{title} · Post Your Vote
      meta(property='og:title' content=`${title} · Post Your Vote`)
      meta(property='og:description' content=description)
      meta(name='description' content=description)
    meta(property='og:url' content=`https://postyourvote.org${path}`)
    meta(property='og:image' content='https://postyourvote.org/assets/img/post-your-vote-share-card.jpg')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@postyourvote')

    link(rel='icon' type='image/svg+xml' href='/assets/img/post-your-vote-logo.svg')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')

    


    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // LiveReload
    // TODO: Load this conditionally only in dev
    if env == 'development'
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    // Google Analytics - not tracking uniquely identifiable info
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-171025406-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-171025406-1');
  body
    .wrapper
      header
        block header
          h1= title
      section
        include components/social.pug
        block content
    include components/footer.pug
