extends layout

block header
  a(href="/")
    h1.logo 
      span= title

block content
  #region
    h2= name
    p
      small
        a(href="/choose-location/")
          svg.feather.icon-left
            use(xlink:href='/assets/feather-sprite.svg#map-pin')
          span Change location
  
  // Depending on case — update per latest designs
  p.large
    // TO-DO: "if" for deadline passed. Not relevant yet as of Sept. 1
    if needExcuse && !covidAsExcuse
      // You need a special excuse to vote by mail—we will recommend most people vote in person (but can still continue)
      // Example ZIP: 70001
      span In #{name} you will need a special excuse to vote by mail. If the reasons below do not apply to you, we suggest voting in person.
    else 
      // No special excuse required
      if automaticallyMailed
        // In all cases where applications or ballots are automatically mailed, no special excuses are needed
        if automaticallyMailed.includes('Ballot')
          // Example ZIP: 94110
          span All registered voters in #{name} will be sent a ballot. You can double-check you are registered and download calendar reminders below.
        else if automaticallyMailed.includes('Application')
          // Example ZIP: 85002
          span All registered voters in #{name} will be sent an application to vote by mail. You can double-check you are registered and download calendar reminders below.
      else if !automaticallyMailed
        // Request a mail in ballot (deadline okay, not automatically mailed)
        if ballotRequestMethod.includes('Online')
          // Example ZIP: 15001
          span You can apply to vote by mail online in #{name}. 
        else if ballotRequestMethod.includes('Email')
          // Example ZIP: 30006
          span In #{name} you can apply to request a ballot by email. 
        else 
          // Example ZIP: 71630
          span In #{name} you need to apply to request a ballot by mail. Requesting online is not yet an option. 

  // Step: Request ballot
  include components/region-step-ballot-request.pug
  hr
  // Step: Track ballot
  include components/region-step-track-ballot.pug
  hr
  // Step: Vote! by mail
  include components/region-step-vote.pug
  hr
  h3 Frequently Asked Questions
  include components/frequently-asked-questions.pug
  // FAQ collapsed
  script(src="/assets/jquery.min.js")
  script.
    var contentAreas = $('#faq .answer').hide();
    $('#faq .question').wrap('<a href="#">');
    $.fx.speeds._default = 100;
    //- var expandLink = $('.accordion-expand-all');
    $('#faq a').click(function() {
      var panel = $(this).next();
      var isOpen = panel.is(':visible');
      // open or close as necessary
      panel[isOpen? 'slideUp': 'slideDown']()
        // trigger the correct custom event
        .trigger(isOpen? 'hide': 'show');
      // stop the link from causing a pagescroll
      return false;
    });
