.step.center
  .calendar
    .cal-page 
      .cal-month 
        != moment(requestedBallotsReceivedByDate).format('MMM') 
      .cal-day 
        != moment(requestedBallotsReceivedByDate).format('D')
  h3 2. Get your ballot & fill it out

p 

  if automaticallyMailed
    // Automatically mailed
    span If your registration and address are up to date, we estimate 
    span you'll receive your ballot around #{moment(requestedBallotsReceivedByDate).format('LL')}. 
  else
    // Had to request
    span If you requested your ballot early in the process, we estimate 
    span you'll receive your ballot around #{moment(requestedBallotsReceivedByDate).format('LL')}. 

  if checkVBMStatusUrl
    span You can 
      a(href=checkVBMStatusUrl, target="_external") track your ballot 
      span  here.
  else 
    span You can 
      a(href=countyClerkInfoUrl, target="_external") get in touch with your local election office 
      span  to get your ballot status.

  p 
    strong When you get your ballot, fill it out and return it right away. 
    span Read the instructions and be careful not to tear the ballot or return envelope inside the carrier.
  p 
    strong Help others on their voting journey
    span  📸 Take a photo of your unopened envelope or unfilled ballot (without any personally identifable info!) and share with the hashtag 
      a(href="https://twitter.com/hashtag/postyourvote", target="_external") #postyourvote 
      | so fellow #{name} voters know what to expect.

p
  svg.feather.icon-left
    use(xlink:href='/assets/feather-sprite.svg#calendar')
  strong Get a calendar reminder
ul.subtle
  li 
    a(href="#")
      span Google
  li
    a(href="#")
      span Outlook
  li
    a(href="#")
      span iCal
