.step.center
  
  if automaticallyMailed && automaticallyMailed.includes('Ballot')
    .calendar
      .cal-page
        .cal-message NOW 
    h3 1. Wait for your ballot
  else
    .calendar
      .cal-page
        .cal-message ASAP
    h3 1. Request your ballot

// You need a special excuse to vote by mail—we will recommend most people vote in person (but can still continue)
if needExcuse && !covidAsExcuse
  // Example ZIP: 70001
  div#special-excuses
    p
      strong #{name} voters need 
        span#special-excuses-expand a special excuse 
        span to vote by mail.
    p#special-excuses-list
      != markdown(vbmExcuses)
  // Expand inline
  //- script(src="/assets/jquery.min.js")
  //- script.
  //-   var contentAreas = $('#special-excuses-list').hide();
  //-   $('#special-excuses-expand').wrap('<a href="#">');
  //-   $.fx.speeds._default = 100;
  //-   //- var expandLink = $('.accordion-expand-all');
  //-   $('#special-excuses a').click(function() {
  //-     var panel = $('#special-excuses-list');
  //-     var isOpen = panel.is(':visible');
  //-     // open or close as necessary
  //-     panel[isOpen? 'slideUp': 'slideDown']()
  //-       // trigger the correct custom event
  //-       .trigger(isOpen? 'hide': 'show');
  //-     // stop the link from causing a pagescroll
  //-     return false;
  //-   });

// No special excuse required
if automaticallyMailed
  // In all cases where applications or ballots are automatically mailed, no special excuses are needed

  // What are you automatically mailed?
  if automaticallyMailed.includes('Ballot')
    // Example ZIP: 94110
    - var thingSent = "ballot";
    - var thingSentDescription = "a ballot";
  else 
    // if automaticallyMailed.includes('Application')
    // Example ZIP: 85002
    - var thingSent = "application";
    - var thingSentDescription = "an application to request a ballot";

  if automaticallyMailed.includes('Ballot')
    if checkVBMStatusUrl
      // There is a way to check VBM status
      p All registered voters in #{name} will be mailed #{thingSentDescription}. Double-check that you are registered to vote, your address is correct, and your #{thingSent} is on the way.
      p.center 
        a(href=checkVBMStatusUrl, target="_external").button
          span Check your #{thingSent} status
          svg.feather.icon-right
            use(xlink:href='/assets/feather-sprite.svg#external-link')
    else 
      // There is not a way to check VBM status online—contact country clerk
      p All registered voters in #{name} will be mailed #{thingSentDescription}. You can can contact your local election office to make sure you are registered to vote, your address is correct, and your #{thingSent} is on the way.
      p.center 
        a(href=localElectionOfficesUrl, target="_external").button
          span Contact your local election office
          svg.feather.icon-right
            use(xlink:href='/assets/feather-sprite.svg#external-link')
  else 
    if onlineBallotRequestUrl
      p All registered voters in #{name} will be mailed #{thingSentDescription}, but you can get ahead of it by requesting it online today. Some states will ask for your social security number or driver's license in this step, so make sure you have them handy.
      p.center 
        a(href=onlineBallotRequestUrl, target="_external").button
          span Request your ballot online
          svg.feather.icon-right
            use(xlink:href='/assets/feather-sprite.svg#external-link')
    else 
      p All registered voters in #{name} will be mailed #{thingSentDescription}. You can can contact your local election office to make sure you are registered to vote, your address is correct, and your #{thingSent} is on the way.
      p.center 
        a(href=localElectionOfficesUrl, target="_external").button
          span Contact your local election office
          svg.feather.icon-right
            use(xlink:href='/assets/feather-sprite.svg#external-link')



else 
  // Not automatically mailed 

  // REQUESTING A BALLOT
  // Request a mail in ballot (deadline okay, not automatically mailed)
  if ballotRequestMethod.includes('Online')
    // Example ZIP: 15001
    p All registered voters in #{name} can request a ballot online.
    p.center
      a(href=onlineBallotRequestUrl, target="_external").button
        span Request your ballot online
        svg.feather.icon-right
          use(xlink:href='/assets/feather-sprite.svg#external-link')
  //- else if ballotRequestMethod.includes('Email')
  //-   // Example ZIP: 30006
  //-   a In #{name} you can apply to request a ballot by email. 
  else 
    // Example ZIP: 71630
    p All registered voters in #{name} can download a PDF to mail in a ballot request.
    p.center 
      a(href=pdfApplicationUrl, target="_external").button
        svg.feather.icon-left
          use(xlink:href='/assets/feather-sprite.svg#download')
        span Download a PDF ballot application
        
// Add need to be registered
if needToBeRegistered
  p.subtle.center
    small
      span You need to be registered to vote to get a ballot. 
      span
        a(href=checkVoterRegistrationStatusUrl,target="_external") 
          span Check your voter registration status
          svg.feather.icon-right
            use(xlink:href='/assets/feather-sprite.svg#external-link')
      span  online, then come&#160;back.
else 
  small 
    p.subtle.center You are automatically registered to vote when you apply to vote by mail.
