.step.center
  .calendar
    .cal-page 
      .cal-month 
        != moment(requestedBallotsReceivedByDate).format('MMM') 
      .cal-day 
        != moment(requestedBallotsReceivedByDate).format('D')
  h3 2. Get your ballot & fill it out

p 

  if automaticallyMailed
    // Automatically mailed
    span If your registration and address are up to date, we estimate 
    span you should receive your ballot around #{moment(requestedBallotsReceivedByDate).format('LL')}. 
  else
    // Had to request
    span If you requested your ballot early in the process, we estimate 
    span you should receive your ballot around #{moment(requestedBallotsReceivedByDate).format('LL')}. 

  if checkVBMStatusUrl
    span You can 
      a(href=checkVBMStatusUrl, target="_external") track your ballot 
      span  here.
  else 
    span You can 
      a(href=countyClerkInfoUrl, target="_external") get in touch with your local election office 
      span  to get your ballot status.

  p 
    strong When you get your ballot, fill it out and return it right away. 
    span Read the instructions and be careful not to tear the ballot and return envelope inside the carrier.
  p 
    strong Help others through the process
    span  📸 Take a photo of your unopened or unsigned ballot without any personally identifable info, so fellow #{name} voters know what to expect. Share with the hashtag 
      a(href="https://twitter.com/hashtag/postyourvote", target="_external") #postyourvote 
      |  and your county.


p.subtle.center.small
  span Calendar reminder
ul.subtle.center.small
  li 
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Google
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span Outlook
  li
    a(href="#")
      svg.feather.icon-left
        use(xlink:href='/assets/feather-sprite.svg#download')
      span iCal
